extends ../templates/base

block content
  include ../modules/top-block/module
  include ../modules/second-block/module

  //- .service-block
  //-   .wrapper.service-block__wrapper
  //-     h3.title Наши услуги

  //-     .service-block__services
  //-       .service-block__service-wrapper
  //-         .service-block__service
  //-           -
  //-             var service = {
  //-               image: "./img/Statuette1.png",
  //-               name: "Смм продвижение",
  //-               number: 1
  //-             }
  //-           include ../modules/service/module
