.sitebar
  .sitebar__header.header
    img.header__icon(src="./img/icon.svg" alt="")

    .nums 
      p + 7 727 313 18 54 
      p + 7 777 950 20 96 
      p + 7 727 328 54 58
    
  .sitebar__conteiner.conteiner 
    p.conteiner__paragraph.title Экспертная подготовка к профильному экзамену 
    p.conteiner__text Получите диплом по МСФО (ДипИФР) и станьте востребованным, высокооплачиваемым бухгалтером за 3 месяца онлайн-обучения в аккредитованном центре 
    p.conteiner__date 200 000 тг
    .conteiner__content.content
      button.base_button.content__button начать обучение
      button.base_button.content__button Пройти входной тест