.second-block
  .second-block__paragraph.title Обладатели ДипИФР-РуС на собеседованиях слышат только «Да»
  .second-block__conteiner
    .second-block__conteiner-top Получите работу мечты и навсегда отстройтесь от конкурентов на рынке труда 
    .second-block__conteiner-center ДипИФР-Рус — это диплом по Международной Финансовой Отчетности на русском языке (Diploma in the International Financial Reporting — ACCA DipIFR (Rus)).
    .second-block__conteiner-bottom Дает право работать в странах СНГ. При приеме в компанию работодатели отдают приоритет обладателям ДипИФР-Рус и соглашаются на более высокую зарплату. ДипИФР-Рус — это знак качества бухгалтера. 
